@model Blog.Models.UpdatePostViewModel
@{
    ViewData["Title"] = "Update Post";
    Layout = "~/Views/_Layout.cshtml";
}
<h2>Update Post</h2>
<form asp-controller="Blog" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="blogPost.Title"></label>
        <input asp-for="blogPost.Title" value="@Model.blogPost.Title" class="form-control" placeholder="Title" />
        <span asp-validation-for="blogPost.Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="blogPost.Content"></label>
        <textarea asp-for="blogPost.Content" value="@Model.blogPost.Content" class="form-control" placeholder="Content" ></textarea>
        <span asp-validation-for="blogPost.Content"></span>
    </div>
    <div class="mb-3">
        <label asp-for="blogPost.Summary"></label>
        <input asp-for="blogPost.Summary" value="@Model.blogPost.Summary" class="form-control" placeholder="Summary" />
        <span asp-validation-for="blogPost.Summary"></span>
    </div>
    <div class="mb-3">
        <label asp-for="blogPost.Image"></label>
        <input asp-for="blogPost.Image" value="@Model.blogPost.Image" class="form-control" placeholder="Image" />
        <span asp-validation-for="blogPost.Image"></span>
    </div>
    <input type="submit" value="Update" class="btn btn-sm btn-success" />
</form>

